h1 {
    color: red;
}

ul {
    color: blue;
    list-style: none;
    display: flex;
}

p {
    color: green;
}

footer {
    color: indigo;
}

.firstcard {
    color: blue;
}
.secondcard {
    color: crimson;
}